.footer {
    min-height: 100px;
    background: #292b2c;
    position: relative;
}

.footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: #b8b8b8;
    color: white;
    padding-left: 30%;
}